$bg-color: #f5f6fa;
$header-color: #182C61;
$link-color: #ffffff;
$button-color: #44db32;
$button-hover-color: #4cd137;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: $bg-color;

    li {
        list-style: none;
    }

    .container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

